* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 100px;
    gap: 10px;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;

}

.card:hover {
    position:relative;
    top:-25px;
    transform: scale(1.1);
    width:500px;
    height:auto;
    display:inline-block;
    z-index:999;
}



main {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}

aside {
    order: 0;
    flex: 1;
    background-color: white;
    padding: 80px;
    text-align: left;
    font-size: 40px;
    list-style-type: none;
    line-height: 8;
    

}

.mid {
    width: 100%;
    margin-left: 50px;
    flex: 4;
    background-color:blueviolet;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #d4d4d4;
    color: rgb(255, 255, 255);
    margin-top: auto;
    line-height: 1.5;
  }

  .centerdiv {
      height: 10vh;
      flex: wrap;
      justify-content: center;
      align-items: center;
  }

  footer a {
      height: 50px;
      width: 100px;
      text-align: center;
      margin: 160px;
  }

  h1 {
      color: black;
      font-size: 24px;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 0px;
    flex: 0 0 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    margin-top: 150px;
  }

  img {
      max-width: 100%;
      max-height: 100%;
      display: block;
  }

  p {
      font-size: 20px;
      line-height: 1.5;
      color: white;
  }

.navbar a:hover, {
	color: white;
}

.card:hover {
	opacity: 0.3;
}

/* SCREEN SIZE RESPONSIVENESS */

@media screen and (max-width: 580px) {
	.mid, .centerdiv {
		padding: 1rem;
	}
	.centerdiv {
		flex-direction: row;
	}
}

@media  screen and (max-width: 768px) {
	.navbar {
		display: none;
	}
}

@media screen and (max-width: 1120px) {
	.mid {
		flex-direction: row;
		justify-content: center;
	}
}



 



